*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: cursive;
}

/* ARREGLOS EN HEADER*/
header{
    width: 80vw;
    height: 25vh;
    margin: 30px 10% 0.2% ;
    background-image: url(../images/image1.jpg);
    background-repeat: no-repeat;
    background-position: 0 30%;
    background-size: cover;
    padding: .5rem;
    position: relative;
    
    
}

#logo{
    width: 15%;
    position: absolute;
    left: -10%;
    margin: -30% 0% -18% 0%;
    bottom: 0%;
    z-index: 2;
    
}

header>h1{
   color:black;
   position: absolute;
   left: 10%;
   margin: 15% 0% 14% -10%;
   bottom: 0%;
   z-index: 2; 
   font-size: 240%;
}


/* ARREGLOS EN NAV*/
nav{
    display: inline-block;
    position: absolute;
    right: 0%;
   margin: 2% 6% 15% 7%;
   bottom: -5%;
   z-index:2;
}
nav a{
    
    background-color: blue;
    color: white;
    
    border-style: initial;
    border-style:inset;
    width: 5rem;
    height: 2rem;
    
    text-align: center;
    text-decoration:none;
    
    
}

a[href="#"]{
    background-color: green;
    color: white;
}

a:active{
    background-color: red;
}

/* ARREGLOS EN MAIN*/
main{
    background-color: white;
    position: relative;
}
.principal{
    background-color:black;
    color: white;
    text-align: center;
}

main article{

    margin-left: 10rem;

}

main p{
    margin-left: 2rem;
    text-align:initial;
}

#imagen2{
    position: absolute;
    width: 9rem;
    height: 8rem;
    margin-top: 12%;
    margin-left: 1%;
    border-radius: 20%;
    border-style:dashed;
}

#imagen3{
    position: absolute;
    width: 25rem;
    height: 15rem;
    margin-top: 1%;
    margin-left: 45%;
    
    border-style:initial;
}