*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
/* ARREGLOS EN HEADER*/
header{
    min-height: 10vh;
    /*margin: 5% 3% 0.2% ;*/
    background-image: url(../images/image1.jpg);
    background-repeat: no-repeat;
    background-position: 60% 80%;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
}
#logo{
    width: 15%;
    align-self:center;
}
header>h1{
    color:rgb(143, 245, 220);
    font-size: 4.5rem;
    flex-grow: 1;
    text-shadow: .5rem .5rem black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* ARREGLOS EN NAV*/
nav{
    display:flex;
    gap: 0%;
    flex-direction:row;
    flex-wrap: wrap;
}
nav a{
    background-color: rgb(200, 138, 232);
    color: white;
    width: 7rem;
    height: 3rem;
    font-size: 110%;
    text-decoration:none;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-wrap: wrap;
}
a[href="#"]{
    background-color: rgb(118, 218, 255);
    color: white;
}
a:active{
    background-color: rgb(251, 87, 87);
}
/* ARREGLOS EN MAIN*/
main{
    background-color: #bfcee0;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.principal{
    background-color:rgb(229, 191, 248);
    color: black;
    border-style:solid;
    text-align: center;
    font-size: 3rem;
    align-self:self-start;
}
/*ARREGLO DEL FOOTER*/
footer{
    min-height: 5vh;
    background-color: rgb(229, 191, 248);
    border-style:solid;
    display: flex;
    flex-wrap: wrap;
    font-size: 150%;
    align-items:center;
}
.nombre{
    width: 30%;
    margin: 0% 0% 0% 70%;
}
/*----------------------------------------------------------------PAGINA HOME--------------------------------------------------------------*/
.home{
    padding: 3rem;
    font-size: 200%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}
.home dt, dd{
    text-align: center;
}
.home dl{
    margin-top: 10%;
}
#snoppy, #imagen1{
    height: 20rem;
    width: 25rem;     
}
#imagen1{
    border-radius: 40%;
    border-color: black;
    border-style: solid;
    padding: .3rem;
    margin: 0% 0% 2%;
}
/*-----------------------------------------------------------------PAGINA ABOUT------------------------------------------------------------*/
#about{
    padding: 3rem;
    font-size: 200%;
}
#about h3{
    text-align: center;
    padding-top: 2%;
    padding-bottom: .5%;
    font-size: 160%;
}
.mision{
    display:flex;
    align-items:center;
}
#gif{
    height: 15rem;
    width: 25rem;
    margin: 3% 8% 2% 3%;
    border-style:none;
}
#palos{
    width: 13rem;
    height: 16rem;
    margin-left: 42%;
}
#imagen2{
    width: 25rem;
    height: 20rem;
    margin: 0% 0% 2% 35%;
    border-radius: 20%;
    border-style:dashed;
}
/*-------------------------------------------------------------------PAGINA CONTACT---------------------------------------------------------*/
#contact{
    font-size: 300%;
    display: flex;
    flex-wrap: wrap;
}
#contact p{
    margin: 1% 2% 1% 3%;
    align-self: center;
}
#kitty{
    width: 30rem;
    height: 30rem;
    padding: .9rem;
    margin: 1% 5% 1% 15%;
    border-style: dotted;
    border-color: blue;
}
#imagen3{
    width: 35rem;
    height: 25rem;
    padding: .9rem;
    margin: 1% 5% 2% 5%;
    border-style: outset;
    border-color: rgb(255, 207, 50);
    align-self: center;
}
/*---------------------------------------------------------PAGINA GAMES-------------------------------------------------------------------*/
#fechas{
    background-image: url(../images/discofuego.jpg);
    background-position:inherit;
    align-self: center;
    min-width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: .9%;
    margin-bottom: .9%;
    text-align: center;
    font-size: 180%;
}
#fechas table{
    min-width: 50%;
    padding: .6rem;
}
thead th{
    background-color: rgb(7, 7, 7);
    color: #e8a4d9;
}
caption{
    color: rgb(236, 236, 236);
    font-size: 190%;
    text-shadow: .1rem .1rem black;
}
.destacar{
    background-color: aqua;
    color: black;
    font-weight: bold;
    
}
th, td{
    padding: .2rem;
    border-style: solid;
}
tbody tr:nth-child(even){
    background-color: #e8a4d9;
}
tbody tr:nth-child(odd), thead tr, tfoot tr{
    background-color: rgb(179, 240, 173);

}
.adicional{
    font-size: 200%;
    padding: .6rem;
    border-top-style:dotted ;
    border-bottom-style: dotted;
    border-width: .5rem;
    display: flex;
    flex-direction:column;
}
.adicional h2{
    text-align: center;
}
.derecha{
    text-align: right;
    padding-bottom: .9rem;
} 
#coordinador{
    font-weight: bold;
}
#mapas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #B89685;
    align-self: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
#mapas h2 {
    font-size: 300%;
    text-align:center;
    width: 100%;
    padding: 2rem;
    background-color: #504746;
    color: #e8a4d9;
}
#mapas section{
    font-size: 200%;
    padding: .6rem;
    background-color: #BFADA3;
    border-style: solid;
    border-color: #504746;
    margin: .5%;
}
/*---------------------------------------------------------------PAGINA RULES---------------------------------------------------------------*/
#rules{
    padding: 3rem;
    font-size: 160%;
}
#medio{
    text-align: center;
    font-size: 180%;
}
#hockey{
    padding: 2%;
    margin-left: 40%;
    height: 10%;
    width: 20%;
}
.parrafo{
    display: flex;
    align-items: center;
}
#gif1{
    height: 20%;
    width: 20%;
    margin: 3% 10% 2% 3%;
    border-radius: 20%;
    border-style:dashed;
    border-color: blue; 
}
dt{
    font-weight: bolder;
    padding: .6rem;
    text-decoration: underline;
}
#letras{
    list-style-type:lower-alpha;
    margin: 0% 3%;
}
.parrafo ul{
    list-style-type: disc;
    margin-left: 10%;
    padding: .4rem;
}
#corazon{
    height: 20%;
    width: 20%;
    margin: 3% 10% 2% 3%;
    border-radius: 20%;
    border-style:dashed;
    border-color: rgb(255, 255, 255);
    flex-direction: row-reverse;
}
/*-----------------------------------------------------------PAGINA REGISTRATION-------------------------------------------------------------*/
form{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    background-image: url(../images/fondito.jpg);
    margin-top: 3%;
    margin-bottom: 3%;
}
form #arriba{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin-top: .4rem;
    margin-left: 1.5rem;
    background-color: #cba795;
    border-radius: 5%;
    padding: .6rem;
    font-size: 180%;
    gap: .5rem;
}
form #arriba .texto{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #cc858b;
    border-style: dashed ;
    padding: .4rem;
    font-size: 180%;
}
input{
    font-size: 40%;
}
form #arriba .lado{
    background-color: #A36D90;
    display: flex;
    flex-wrap: wrap;
    flex-direction:column; 
    align-self: center;
    padding: 2rem;
    font-size: 100%;
    border-style: double;
}  
.apilar{
    flex-direction: column;
    text-align:left;
}
form #medio{
    background-color: #ad9c99;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 150%;
    margin-top: 1rem;
    padding: .8rem;
    gap: 5rem;
    border-radius:15% ;
}
 form #abajo{
    font-size: 150%;
    padding: 2rem;
    background-color:rgb(205, 205, 186);
    border-radius: 15%;
    margin-top: 2%;
} 
form #firmas{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 180%;
    font-weight: bolder;
}