*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}

/* ARREGLOS EN HEADER*/
header{
    min-height: 10vh;
    /*margin: 5% 3% 0.2% ;*/
    background-image: url(../images/image1.jpg);
    background-repeat: no-repeat;
    background-position: 60% 80%;
    display: flex;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
}

#logo{
    width: 20%;
    align-self:center;
}

header>h1{
    color:rgb(143, 245, 220);
    font-size: 4.5rem;
    flex-grow: 1;
    text-shadow: .5rem .5rem black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* ARREGLOS EN NAV*/
nav{
    display:flex;
    gap: 0%;
    flex-direction:row;
    flex-wrap: wrap;
   
}
nav a{
    
    background-color: rgb(200, 138, 232);
    color: white;
    width: 7.5rem;
    height: 2rem;
    text-decoration:none;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-wrap: wrap;
    
}

a[href="#"]{
    background-color: rgb(118, 218, 255);
    color: white;
}

a:active{
    background-color: rgb(251, 87, 87);
}

/* ARREGLOS EN MAIN*/
main{
    background-image: url(../images/fondo.jpg);
    /*background-repeat: no-repeat;*/
    background-size: cover;
    min-height: 80vh;
    position: relative;
}
.principal{
   /* background-color:white;*/
    color: black;
    border-style: solid;
    text-align: center;
}

main article{

    margin-left: 10rem;

}

main p{
    margin-left: 2rem;
    text-align:initial;
}

#imagen2{
    position: absolute;
    width: 9rem;
    height: 8rem;
    margin-top: 12%;
    margin-left: 1%;
    border-radius: 20%;
    border-style:dashed;
}

#imagen3{
    position: absolute;
    width: 25rem;
    height: 15rem;
    margin-top: 1%;
    margin-left: 45%;
    border-style:initial;
}